@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@200;300&display=swap');

:root{
    --corPrimaria: #65afc8;
    --corPrimariaShadow: #265a6b;
    
}
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--corPrimaria);
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--corPrimariaShadow);
}

.container>h1{
    animation: fadeIn .7s;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif, cursive;
    font-weight: 200;
}

.infoImc{
    width: 45%;
    display: inline-table;
    animation: fadeIn .7s;
    font-weight: 500;
    font-family: 'Noto Serif Gujarati',Arial, Helvetica, sans-serif, serif;


}

form input, form label, form button{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    animation: fadeIn .7s;


}

form label{
    font-weight: 600;
    font-family: 'Noto Serif Gujarati',Arial, Helvetica, sans-serif, serif;
}

#ipeso,#ialtura{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

#ipeso::placeholder,#ialtura::placeholder{
    font-family: 'Caveat',Arial, Helvetica, sans-serif;
}

#ipeso:focus,#ialtura:focus{
    outline: 1px solid var(--corPrimaria);
}

form>button{
    border: none;
    background: var(--corPrimaria);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    margin-top: 25px;
}

form>button:hover{
    background: var(--corPrimariaShadow);
}

.paragrafoResultado{
    padding: 5px;
    border-radius: 5px 10px;
    background-color: rgb(172, 255, 172);
    animation: fadeIn .7s;
    text-align: center;
    font-size: 1.3em;
}

.bad{
    padding: 5px;
    border-radius: 5px 10px;
    background-color: rgb(252, 133, 133);
    animation: shake .7s;
    text-align: center;
    font-size: 1.3em;
}

#icone{
    margin-bottom: 12px;
}

@keyframes shake {
    0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    } 