*{
    padding: 0;
    margin: 0;
}

    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;

}

main{
    position: relative;


}

article#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: 14% auto;
    transform: translate(-50% , -50%);
    width: 340px;
    height: 640px;
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;
    animation: fadeIn .7s;
    
}

iframe#telaid{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
    animation: fadeIn .7s;

}

nav#redes-sociais{
    text-align: right;
    animation: fadeIn .7s;

}


.icones{
    min-width: 50px;
    max-width: 70px;
    margin: 10px 15px 0px 0px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #00000057;

}


.icones:hover{
    
    transform-style: preserve-3d;
    transform: translate(-7px, -4px);
    animation: alternate;
    box-shadow: 5px 5px 10px #00000057;
    transition-duration: .3s;
    
}